In [635]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [636]:
df = pd.read_csv('nova_data.csv')

In [637]:
df.sample(5)

,nutriscore_score,nutriscore_grade,nova_group,ecoscore_grade,main_category_en,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,fruits-vegetables-nuts-estimate-from-ingredients_100g,nutrition-score-fr_100g,completion_rate
82965,16.0,d,NaN,d,Salad dressings,266.666667,1116.0,23.333333,3.333333,0.000,10.00,3.333333,0.0,0.00,2.416667,0.966667,NaN,16.0,0.22
107870,0.0,b,4.0,not-applicable,Diet cola soft drink,0.000000,0.0,0.000000,NaN,0.000,0.00,0.000000,0.0,0.00,0.025000,0.010000,0.000000,0.0,0.22
11786,0.0,b,4.0,b,Tomatoes,17.000000,71.0,0.000000,0.000000,0.000,3.31,2.480000,0.8,0.83,0.620000,0.248000,67.587500,0.0,0.28
158368,14.0,d,4.0,unknown,Seafood,196.000000,820.0,10.710000,2.680000,0.054,0.00,0.000000,0.0,23.21,2.990000,1.196000,0.000000,14.0,0.28
186800,14.0,d,4.0,b,Jelly beans,350.000000,1464.0,0.000000,0.000000,0.000,94.00,70.000000,0.0,0.00,0.000000,0.000000,6.134072,14.0,0.27

# Understand the columns

In [639]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227266 entries, 0 to 227265
Data columns (total 19 columns):
 #   Column                                                 Non-Null Count   Dtype
---  ------                                                 --------------   -----
 0   nutriscore_score                                       187559 non-null  float64
 1   nutriscore_grade                                       227266 non-null  object
 2   nova_group                                             184582 non-null  float64
 3   ecoscore_grade                                         227266 non-null  object
 4   main_category_en                                       198371 non-null  object
 5   energy-kcal_100g                                       226340 non-null  float64
 6   energy_100g                                            226818 non-null  float64
 7   fat_100g                                               227151 non-null  float64
 8   saturated-fat_100g                                     208362 non-null  float64
 9   cholesterol_100g                                       227266 non-null  float64
 10  carbohydrates_100g                                     227111 non-null  float64
 11  sugars_100g                                            220182 non-null  float64
 12  fiber_100g                                             227266 non-null  float64
 13  proteins_100g                                          227030 non-null  float64
 14  salt_100g                                              223312 non-null  float64
 15  sodium_100g                                            223312 non-null  float64
 16  fruits-vegetables-nuts-estimate-from-ingredients_100g  192479 non-null  float64
 17  nutrition-score-fr_100g                                187559 non-null  float64
 18  completion_rate                                        227266 non-null  float64
dtypes: float64(16), object(3)
memory usage: 32.9+ MB

In [640]:
df.describe()

,nutriscore_score,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,fruits-vegetables-nuts-estimate-from-ingredients_100g,nutrition-score-fr_100g,completion_rate
count,187559.000000,184582.000000,226340.000000,226818.000000,227151.000000,208362.000000,227266.000000,227111.000000,220182.000000,227266.000000,227030.000000,2.233120e+05,2.233120e+05,192479.000000,187559.000000,227266.000000
mean,8.922600,3.504079,266.563050,1114.719633,12.162232,4.472758,0.022321,33.331334,15.311538,2.079801,7.136688,3.582432e+08,1.432973e+08,18.224780,8.922600,0.263335
std,8.904543,0.934377,211.935905,886.943789,41.295780,8.095851,0.736425,35.807336,21.183847,4.864844,13.272789,1.692910e+11,6.771641e+10,30.481111,8.904543,0.044079
min,-15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,-1.878101,-15.000000,0.180000
25%,1.000000,3.000000,90.000000,377.000000,0.000000,0.000000,0.000000,6.666667,1.000000,0.000000,0.420000,1.000000e-01,4.000000e-02,0.000000,1.000000,0.230000
50%,10.000000,4.000000,263.000000,1100.000000,4.705882,1.515152,0.000000,22.500000,5.000000,0.000000,4.550000,7.000000e-01,2.800000e-01,0.376712,10.000000,0.260000
75%,15.000000,4.000000,395.000000,1653.000000,18.920000,6.670000,0.006000,60.470000,22.400000,2.900000,10.000000,1.517500e+00,6.070000e-01,21.560792,15.000000,0.280000
max,40.000000,4.000000,30000.000000,125520.000000,17776.666000,1424.528200,116.915000,8140.000000,1100.000000,900.000000,2400.000000,8.000000e+13,3.200000e+13,187.812500,40.000000,0.510000

# Remove unwanted columns based on the domain knowledge

In [642]:
df.columns

Index(['nutriscore_score', 'nutriscore_grade', 'nova_group', 'ecoscore_grade',
       'main_category_en', 'energy-kcal_100g', 'energy_100g', 'fat_100g',
       'saturated-fat_100g', 'cholesterol_100g', 'carbohydrates_100g',
       'sugars_100g', 'fiber_100g', 'proteins_100g', 'salt_100g',
       'sodium_100g', 'fruits-vegetables-nuts-estimate-from-ingredients_100g',
       'nutrition-score-fr_100g', 'completion_rate'],
      dtype='object')

In [643]:
df.drop(columns =['nutrition-score-fr_100g', 'completion_rate','fruits-vegetables-nuts-estimate-from-ingredients_100g','ecoscore_grade'], axis = 1, inplace =True)

In [644]:
df.drop(['main_category_en'], axis =1, inplace =True)

In [645]:
df.columns

Index(['nutriscore_score', 'nutriscore_grade', 'nova_group',
       'energy-kcal_100g', 'energy_100g', 'fat_100g', 'saturated-fat_100g',
       'cholesterol_100g', 'carbohydrates_100g', 'sugars_100g', 'fiber_100g',
       'proteins_100g', 'salt_100g', 'sodium_100g'],
      dtype='object')

In [646]:
df.sample(5)

,nutriscore_score,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
44672,-1.0,a,3.0,69.0,289.0,0.00,0.00,0.0,13.08,0.00,2.3,4.62,0.730,0.292
65991,5.0,c,4.0,84.0,351.0,2.26,1.61,0.0,15.48,14.84,0.0,1.29,0.185,0.074
135962,NaN,unknown,4.0,0.0,0.0,0.00,NaN,0.0,0.00,0.00,0.0,0.00,0.000,0.000
208923,NaN,unknown,NaN,321.0,1343.0,14.00,0.00,0.0,46.00,0.00,0.0,1.60,7.600,3.040
11132,16.0,d,4.0,300.0,1255.0,20.00,10.00,0.1,20.00,20.00,0.0,0.00,0.000,0.000

In [647]:
print('the total number of the rows are:', df.shape[0])
print('the total number of the columns are:', df.shape[1])

the total number of the rows are: 227266
the total number of the columns are: 14

In [648]:
df.sample(5)

,nutriscore_score,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
20945,24.0,e,4.0,500.0,2092.0,26.92,15.3800,0.019,61.5400,34.6200,0.0,3.8500,0.385000,0.154000
890,NaN,unknown,NaN,388.0,1623.0,29.00,3.0000,0.000,8.8000,0.5000,28.0,23.0000,0.000000,0.000000
220340,12.0,d,4.0,247.0,1033.0,15.29,4.7100,0.047,12.9400,2.3500,1.2,12.9400,1.560000,0.624000
176521,14.0,d,4.0,200.0,837.0,10.00,8.5700,0.029,27.1400,18.5700,0.0,2.8600,0.072500,0.029000
72745,6.0,c,NaN,500.0,2092.0,25.00,3.5714,0.000,60.7143,3.5714,0.0,7.1429,0.446429,0.178571

# check for nulll values

In [650]:
df['nova_group'].isnull().sum()

42684

In [651]:
df['nova_group'].unique()

array([nan,  4.,  1.,  3.,  2.])

In [652]:
df['nova_group'].value_counts()

nova_group
4.0    132903
3.0     29465
1.0     17645
2.0      4569
Name: count, dtype: int64

In [653]:
df['nutriscore_score'].isnull().sum()

39707

In [654]:
df['nutriscore_score'].sample(4)

166990    1.0
29995    -9.0
190988   -3.0
207925    7.0
Name: nutriscore_score, dtype: float64

In [655]:
df.describe()

,nutriscore_score,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
count,187559.000000,184582.000000,226340.000000,226818.000000,227151.000000,208362.000000,227266.000000,227111.000000,220182.000000,227266.000000,227030.000000,2.233120e+05,2.233120e+05
mean,8.922600,3.504079,266.563050,1114.719633,12.162232,4.472758,0.022321,33.331334,15.311538,2.079801,7.136688,3.582432e+08,1.432973e+08
std,8.904543,0.934377,211.935905,886.943789,41.295780,8.095851,0.736425,35.807336,21.183847,4.864844,13.272789,1.692910e+11,6.771641e+10
min,-15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,1.000000,3.000000,90.000000,377.000000,0.000000,0.000000,0.000000,6.666667,1.000000,0.000000,0.420000,1.000000e-01,4.000000e-02
50%,10.000000,4.000000,263.000000,1100.000000,4.705882,1.515152,0.000000,22.500000,5.000000,0.000000,4.550000,7.000000e-01,2.800000e-01
75%,15.000000,4.000000,395.000000,1653.000000,18.920000,6.670000,0.006000,60.470000,22.400000,2.900000,10.000000,1.517500e+00,6.070000e-01
max,40.000000,4.000000,30000.000000,125520.000000,17776.666000,1424.528200,116.915000,8140.000000,1100.000000,900.000000,2400.000000,8.000000e+13,3.200000e+13

In [656]:
df.columns

Index(['nutriscore_score', 'nutriscore_grade', 'nova_group',
       'energy-kcal_100g', 'energy_100g', 'fat_100g', 'saturated-fat_100g',
       'cholesterol_100g', 'carbohydrates_100g', 'sugars_100g', 'fiber_100g',
       'proteins_100g', 'salt_100g', 'sodium_100g'],
      dtype='object')

In [657]:
df.isnull().sum()

nutriscore_score      39707
nutriscore_grade          0
nova_group            42684
energy-kcal_100g        926
energy_100g             448
fat_100g                115
saturated-fat_100g    18904
cholesterol_100g          0
carbohydrates_100g      155
sugars_100g            7084
fiber_100g                0
proteins_100g           236
salt_100g              3954
sodium_100g            3954
dtype: int64

In [658]:
# rename some columns
df.rename(columns={'nutriscore_score': 'nutriscore'}, inplace=True)

In [659]:
df[df['nova_group']==1.0].sample(5)

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
106607,-4.0,a,1.0,357.142857,1494.0,1.785714,0.00,0.000,75.00,3.571429,3.571429,12.50,0.0000,0.000
143293,4.0,c,1.0,46.000000,192.0,0.000000,NaN,0.000,11.67,10.420000,0.000000,0.00,0.0375,0.015
105220,-5.0,a,1.0,377.000000,1577.0,1.890000,0.00,0.000,77.36,3.770000,3.800000,11.32,0.0000,0.000
110159,0.0,b,1.0,55.000000,230.0,2.120000,1.27,0.008,5.51,5.080000,0.000000,3.39,0.1325,0.053
175981,-13.0,a,1.0,133.000000,556.0,0.600000,0.00,0.000,25.30,1.200000,6.000000,7.23,0.0150,0.006

In [660]:
df[df['nutriscore_grade']=='a'].sample(5)

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
94094,-1.0,a,4.0,160.000000,669.0,4.000000,0.00,0.040,8.0,1.330000,1.300000,22.67,1.1000,0.440
194075,-1.0,a,4.0,35.000000,146.0,0.000000,NaN,0.000,9.0,8.000000,0.000000,0.00,0.0000,0.000
107199,-3.0,a,3.0,400.000000,1674.0,3.330000,0.00,0.000,80.0,6.670000,10.000000,10.00,0.4575,0.183
4572,-3.0,a,3.0,160.000000,669.0,1.250000,0.25,0.002,31.0,0.500000,2.000000,6.50,0.4750,0.190
137627,-4.0,a,NaN,357.142857,1494.0,1.785714,0.00,0.000,75.0,3.571429,3.571429,12.50,0.0000,0.000

In [661]:
df[df['nova_group']==1.0]['nutriscore'].mode()

0   -4.0
Name: nutriscore, dtype: float64

In [662]:
# Replace unknown or missing or any odd entries with null values

In [663]:
df['nutriscore_grade'].unique()

array(['a', 'd', 'unknown', 'b', 'c', 'e', 'not-applicable'], dtype=object)

In [664]:
df['nova_group'].unique()

array([nan,  4.,  1.,  3.,  2.])

In [665]:
df['nutriscore_grade'].replace(['unknown', 'missing', 'n/a','not-applicable'], np.nan, inplace=True)

C:\Users\navee\AppData\Local\Temp\ipykernel_8624\3019972790.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['nutriscore_grade'].replace(['unknown', 'missing', 'n/a','not-applicable'], np.nan, inplace=True)

# HANDLING MISSING DATA

## Drop the rows which have nutriscore, nutriscore_grade and nova_group as null values

In [668]:
df.dropna(subset=['nutriscore', 'nutriscore_grade', 'nova_group'], how='all', inplace=True)
df

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
0,-5.0,a,NaN,57.0,238.0,0.2,0.1,0.0,3.90,3.90,0.0,10.0,0.090,0.0360
1,18.0,d,NaN,NaN,936.0,8.2,2.2,0.0,29.00,22.00,0.0,5.1,4.600,1.8400
2,9.0,d,NaN,63.0,264.0,0.0,0.0,0.0,15.50,15.50,0.0,0.2,0.000,0.0000
3,-4.0,a,NaN,32.0,134.0,0.3,0.1,0.0,5.30,3.90,0.0,0.9,0.420,0.1680
5,NaN,NaN,4.0,219.0,916.0,5.9,0.5,0.0,30.30,1.70,2.8,9.7,0.464,0.1856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227261,13.0,d,NaN,286.0,1197.0,0.0,NaN,0.0,80.95,76.19,0.0,0.0,0.000,0.0000
227262,NaN,NaN,4.0,400.0,1674.0,0.0,NaN,0.0,100.00,100.00,0.0,0.0,NaN,NaN
227263,NaN,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227264,NaN,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227265,13.0,d,2.0,286.0,1197.0,0.0,0.0,0.0,80.95,80.95,0.0,0.0,0.000,0.0000

# Interpolating the mode value for nutriscore null values based on some condition

In [670]:
df.loc[(df['nova_group'].isin([1.0])) & df['nutriscore_grade'].isin(['a','b'])]['nutriscore'].mode()

0   -4.0
Name: nutriscore, dtype: float64

In [671]:
df.loc[(df['nova_group'].isin([1.0,2.0]))]['nutriscore'].mode()

0   -4.0
Name: nutriscore, dtype: float64

In [672]:
df['nutriscore'].isnull().sum()

21330

In [673]:
df['nova_group'].unique()

array([nan,  4.,  1.,  3.,  2.])

In [674]:
df[(df['nutriscore'].isnull()) & (df['nutriscore_grade'].isnull()) & (df['nova_group']== 1)]

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
41,NaN,NaN,1.0,333.000000,1393.0,NaN,NaN,0.00,62.220000,8.89,26.700000,20.00,0.02794,0.011176
212,NaN,NaN,1.0,292.000000,1222.0,0.5,0.10,0.00,65.000000,51.00,0.000000,2.00,NaN,NaN
214,NaN,NaN,1.0,NaN,144.0,0.9,NaN,0.00,2.900000,2.50,1.800000,3.60,0.00000,0.000000
229,NaN,NaN,1.0,0.000000,0.0,0.0,NaN,0.00,70.000000,NaN,0.000000,0.00,0.75000,0.300000
230,NaN,NaN,1.0,0.000000,0.0,0.0,NaN,0.00,1.470000,NaN,0.000000,0.00,0.01000,0.004000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224985,NaN,NaN,1.0,252.000000,1054.0,NaN,7.28,0.07,0.000000,0.00,0.000000,17.22,0.16500,0.066000
225360,NaN,NaN,1.0,6.250000,26.2,0.0,0.00,0.00,0.000000,0.00,0.000000,NaN,0.08330,0.033300
225501,NaN,NaN,1.0,65.000000,272.0,3.5,NaN,0.00,8.500000,5.50,1.500000,1.50,NaN,NaN
226924,NaN,NaN,1.0,17.000000,71.0,0.0,NaN,0.00,3.330000,NaN,0.000000,0.00,0.00000,0.000000
226937,NaN,NaN,1.0,16.666667,70.0,0.0,NaN,0.00,3.333333,0.00,3.333333,0.00,0.00000,0.000000

In [675]:
df[df['nova_group']==1.0]['nutriscore'].mode()

0   -4.0
Name: nutriscore, dtype: float64

In [676]:
df[df['nova_group']==2.0]['nutriscore'].mode()

0    5.0
Name: nutriscore, dtype: float64

In [677]:
df[df['nova_group']==3.0]['nutriscore'].mode()

0    10.0
Name: nutriscore, dtype: float64

In [715]:
df[df['nova_group']==4.0]['nutriscore'].mode()

0    14.0
Name: nutriscore, dtype: float64

In [861]:
df[df['nova_group']==3.0]['nutriscore_grade'].mode()

0    d
Name: nutriscore_grade, dtype: object

In [721]:
df.loc[(df['nutriscore'].isnull()) & (df['nutriscore_grade'].isnull()) & (df['nova_group']== 1.0), 'nutriscore']= -4.0
df.loc[(df['nutriscore'].isnull()) & (df['nutriscore_grade'].isnull()) & (df['nova_group']== 2.0), 'nutriscore'] = 5.0
df.loc[(df['nutriscore'].isnull()) & (df['nutriscore_grade'].isnull()) & (df['nova_group']== 1.0), 'nutriscore']= 10.0
df.loc[(df['nutriscore'].isnull()) & (df['nutriscore_grade'].isnull()) & (df['nova_group']== 2.0), 'nutriscore'] = 14.0

In [833]:
df

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
0,-5.0,a,NaN,57.0,238.0,0.2,0.1,0.0,3.90,3.90,0.0,10.0,0.090,0.0360
1,18.0,d,NaN,NaN,936.0,8.2,2.2,0.0,29.00,22.00,0.0,5.1,4.600,1.8400
2,9.0,d,NaN,63.0,264.0,0.0,0.0,0.0,15.50,15.50,0.0,0.2,0.000,0.0000
3,-4.0,a,NaN,32.0,134.0,0.3,0.1,0.0,5.30,3.90,0.0,0.9,0.420,0.1680
5,NaN,NaN,4.0,219.0,916.0,5.9,0.5,0.0,30.30,1.70,2.8,9.7,0.464,0.1856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227261,13.0,d,NaN,286.0,1197.0,0.0,NaN,0.0,80.95,76.19,0.0,0.0,0.000,0.0000
227262,NaN,NaN,4.0,400.0,1674.0,0.0,NaN,0.0,100.00,100.00,0.0,0.0,NaN,NaN
227263,5.0,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227264,5.0,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227265,13.0,d,2.0,286.0,1197.0,0.0,0.0,0.0,80.95,80.95,0.0,0.0,0.000,0.0000

# fill nova_group null values

In [841]:
df[(df['nutriscore'].isnull()) & (df['nutriscore_grade'].isnull()) & (df['nova_group']== 2.0)]

Empty DataFrame
Columns: [nutriscore, nutriscore_grade, nova_group, energy-kcal_100g, energy_100g, fat_100g, saturated-fat_100g, cholesterol_100g, carbohydrates_100g, sugars_100g, fiber_100g, proteins_100g, salt_100g, sodium_100g]
Index: []

In [725]:
df['nutriscore'].isnull().sum()

20196

## interpolate nutriscore value based on the nutriscore_grade and nova_group

In [857]:
df.loc[(df['nutriscore'].isnull())& (df['nutriscore_grade'].isnull()) & (df['nova_group']==3.0)]

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
284,NaN,NaN,3.0,250.0,1050.0,0.000000,NaN,0.000,53.80,NaN,3.85,9.62,1.2000,0.481
310,NaN,NaN,3.0,69.0,290.0,2.600000,1.90,0.000,7.00,3.10,1.10,3.90,0.1100,0.044
385,NaN,NaN,3.0,100.0,418.0,4.000000,NaN,0.000,12.00,NaN,0.00,4.00,1.2500,0.500
480,NaN,NaN,3.0,NaN,NaN,22.000000,NaN,0.000,0.50,0.50,0.00,21.00,1.7000,0.680
576,NaN,NaN,3.0,167.0,699.0,14.110000,NaN,0.000,7.90,7.90,0.00,7.18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225925,NaN,NaN,3.0,393.0,1644.0,32.140000,17.86,0.107,3.57,NaN,0.00,28.57,0.9525,0.381
225961,NaN,NaN,3.0,NaN,NaN,0.000011,25.00,0.000,0.00,0.00,0.00,4.00,1.2500,0.500
226210,NaN,NaN,3.0,120.0,502.0,1.500000,NaN,0.000,22.00,NaN,1.00,3.00,0.4750,0.190
227043,NaN,NaN,3.0,167.0,699.0,6.170000,3.96,0.000,17.18,8.81,5.30,2.64,0.0450,0.018
227133,NaN,NaN,3.0,579.0,2423.0,50.000000,7.14,0.000,17.86,NaN,7.10,28.57,1.0800,0.432

In [865]:
df.loc[
    (df['nova_group'] == 3.0) & 
    (df['nutriscore'].isna()) & 
    (df['nutriscore_grade'].isna()), 
    ['nutriscore', 'nutriscore_grade']
] = [9.0, 'c']
df

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
0,-5.0,a,NaN,57.0,238.0,0.2,0.1,0.0,3.90,3.90,0.0,10.0,0.090,0.0360
1,18.0,d,NaN,NaN,936.0,8.2,2.2,0.0,29.00,22.00,0.0,5.1,4.600,1.8400
2,9.0,d,NaN,63.0,264.0,0.0,0.0,0.0,15.50,15.50,0.0,0.2,0.000,0.0000
3,-4.0,a,NaN,32.0,134.0,0.3,0.1,0.0,5.30,3.90,0.0,0.9,0.420,0.1680
5,NaN,NaN,4.0,219.0,916.0,5.9,0.5,0.0,30.30,1.70,2.8,9.7,0.464,0.1856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227261,13.0,d,NaN,286.0,1197.0,0.0,NaN,0.0,80.95,76.19,0.0,0.0,0.000,0.0000
227262,NaN,NaN,4.0,400.0,1674.0,0.0,NaN,0.0,100.00,100.00,0.0,0.0,NaN,NaN
227263,5.0,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227264,5.0,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227265,13.0,d,2.0,286.0,1197.0,0.0,0.0,0.0,80.95,80.95,0.0,0.0,0.000,0.0000

In [867]:
df.loc[
    (df['nova_group'] == 4.0) & 
    (df['nutriscore'].isna()) & 
    (df['nutriscore_grade'].isna()), 
    ['nutriscore', 'nutriscore_grade']
] = [14, 'e']

In [869]:
df['nutriscore'].isnull().sum()

0

In [871]:
df.columns

Index(['nutriscore', 'nutriscore_grade', 'nova_group', 'energy-kcal_100g',
       'energy_100g', 'fat_100g', 'saturated-fat_100g', 'cholesterol_100g',
       'carbohydrates_100g', 'sugars_100g', 'fiber_100g', 'proteins_100g',
       'salt_100g', 'sodium_100g'],
      dtype='object')

In [873]:
df['nutriscore_grade'].unique()

array(['a', 'd', 'e', 'b', 'c', nan], dtype=object)

In [875]:
df['nutriscore_grade'].value_counts()

nutriscore_grade
d    58747
e    53263
c    37772
a    31407
b    26566
Name: count, dtype: int64

# fill nutriscore null values based on the nova_score and nutriscore_grade

In [880]:
df.loc[(df['nutriscore'] <= 1.0) & (df['nutriscore_grade'].isin(['a']))]['nova_group'].mode()

0    1.0
Name: nova_group, dtype: float64

In [883]:
df.loc[df['nutriscore_grade']=='b', 'nova_group']=2.0

In [885]:
df[df['nutriscore_grade']=='b']['nova_group'].mode()

0    2.0
Name: nova_group, dtype: float64

In [815]:
df.loc[(df['nutriscore'] >= 5.0) & (df['nutriscore'] < 10.0) & (df['nutriscore_grade'].isin(['c']))]['nova_group'].mode()

0    4.0
Name: nova_group, dtype: float64

In [895]:
df.loc[
    (df['nutriscore'] <= 1.0) & 
    (df['nutriscore_grade'].isin(['a', 'b'])),
    'nova_group'] = 1.0

In [897]:
df.loc[
    (df['nutriscore'] >= 1) & 
    (df['nutriscore'] <= 5) & 
    (df['nutriscore_grade'].isin(['a', 'b','c'])), 
    'nova_group'
] = 2.0

In [899]:
df.loc[
    (df['nutriscore'] >= 5) & 
    (df['nutriscore'] <= 10) & 
    (df['nutriscore_grade'].isin(['b','c','d'])), 
    'nova_group'
] = 3.0

In [901]:
df.loc[
    (df['nutriscore'] >= 10) & 
    (df['nutriscore_grade'].isin(['d','e'])), 
    'nova_group'
] = 4.0

In [903]:
df['nova_group'].isnull().sum()

0

In [905]:
df.nova_group.unique()

array([1., 4., 3., 2.])

In [907]:
df

,nutriscore,nutriscore_grade,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
0,-5.0,a,1.0,57.0,238.0,0.2,0.1,0.0,3.90,3.90,0.0,10.0,0.090,0.0360
1,18.0,d,4.0,NaN,936.0,8.2,2.2,0.0,29.00,22.00,0.0,5.1,4.600,1.8400
2,9.0,d,3.0,63.0,264.0,0.0,0.0,0.0,15.50,15.50,0.0,0.2,0.000,0.0000
3,-4.0,a,1.0,32.0,134.0,0.3,0.1,0.0,5.30,3.90,0.0,0.9,0.420,0.1680
5,14.0,e,4.0,219.0,916.0,5.9,0.5,0.0,30.30,1.70,2.8,9.7,0.464,0.1856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227261,13.0,d,4.0,286.0,1197.0,0.0,NaN,0.0,80.95,76.19,0.0,0.0,0.000,0.0000
227262,14.0,e,4.0,400.0,1674.0,0.0,NaN,0.0,100.00,100.00,0.0,0.0,NaN,NaN
227263,5.0,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227264,5.0,NaN,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227265,13.0,d,4.0,286.0,1197.0,0.0,0.0,0.0,80.95,80.95,0.0,0.0,0.000,0.0000

In [909]:
df.drop('nutriscore_grade', axis =1, inplace = True)

In [911]:
df

,nutriscore,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
0,-5.0,1.0,57.0,238.0,0.2,0.1,0.0,3.90,3.90,0.0,10.0,0.090,0.0360
1,18.0,4.0,NaN,936.0,8.2,2.2,0.0,29.00,22.00,0.0,5.1,4.600,1.8400
2,9.0,3.0,63.0,264.0,0.0,0.0,0.0,15.50,15.50,0.0,0.2,0.000,0.0000
3,-4.0,1.0,32.0,134.0,0.3,0.1,0.0,5.30,3.90,0.0,0.9,0.420,0.1680
5,14.0,4.0,219.0,916.0,5.9,0.5,0.0,30.30,1.70,2.8,9.7,0.464,0.1856
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227261,13.0,4.0,286.0,1197.0,0.0,NaN,0.0,80.95,76.19,0.0,0.0,0.000,0.0000
227262,14.0,4.0,400.0,1674.0,0.0,NaN,0.0,100.00,100.00,0.0,0.0,NaN,NaN
227263,5.0,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227264,5.0,2.0,286.0,1197.0,0.0,NaN,0.0,80.95,80.95,0.0,0.0,NaN,NaN
227265,13.0,4.0,286.0,1197.0,0.0,0.0,0.0,80.95,80.95,0.0,0.0,0.000,0.0000

In [913]:
df.columns

Index(['nutriscore', 'nova_group', 'energy-kcal_100g', 'energy_100g',
       'fat_100g', 'saturated-fat_100g', 'cholesterol_100g',
       'carbohydrates_100g', 'sugars_100g', 'fiber_100g', 'proteins_100g',
       'salt_100g', 'sodium_100g'],
      dtype='object')

In [915]:
df['energy-kcal_100g'].isnull().sum()

849

In [917]:
df['energy_100g'].isnull().sum()

397

# fill the null values of energy-kcal_100g

In [921]:
df.loc[df['energy-kcal_100g'].isnull()]

,nutriscore,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
1,18.0,4.0,NaN,936.0,8.20,2.200,0.000,29.0,22.00,0.000,5.10,4.600,1.840
68,0.0,1.0,NaN,450.0,2.20,0.900,0.000,15.3,0.50,0.500,6.80,0.700,0.280
69,2.0,2.0,NaN,455.0,4.20,2.100,0.000,12.5,1.40,1.800,4.40,0.600,0.240
75,2.0,2.0,NaN,1952.4,15.30,11.200,0.000,75.5,69.80,0.100,6.80,0.500,0.200
146,26.0,4.0,NaN,2257.0,33.30,21.100,0.000,53.8,51.50,0.000,4.70,0.090,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226060,14.0,4.0,NaN,NaN,31.00,NaN,0.045,48.0,NaN,0.000,13.00,1.950,0.780
226284,24.0,4.0,NaN,2048.0,24.50,11.000,0.000,58.6,0.07,2.400,7.60,3.400,1.360
226769,14.0,4.0,NaN,NaN,0.00,NaN,0.000,0.0,0.00,0.000,0.00,NaN,NaN
227005,4.0,2.0,NaN,707.0,5.00,0.714,0.000,22.9,14.30,0.000,7.86,0.889,0.356
227015,12.0,4.0,NaN,784.0,6.43,1.070,0.000,19.3,15.70,0.714,12.90,1.560,0.624

## Return all the rows which have energy-kcal null and energy-100g not null

In [923]:
df[(df['energy-kcal_100g'].isna()) & (df['energy_100g'].notna())]

,nutriscore,nova_group,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
1,18.0,4.0,NaN,936.0,8.20,2.200,0.0,29.0,22.000,0.000,5.10,4.600,1.840
68,0.0,1.0,NaN,450.0,2.20,0.900,0.0,15.3,0.500,0.500,6.80,0.700,0.280
69,2.0,2.0,NaN,455.0,4.20,2.100,0.0,12.5,1.400,1.800,4.40,0.600,0.240
75,2.0,2.0,NaN,1952.4,15.30,11.200,0.0,75.5,69.800,0.100,6.80,0.500,0.200
146,26.0,4.0,NaN,2257.0,33.30,21.100,0.0,53.8,51.500,0.000,4.70,0.090,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...
225912,14.0,4.0,NaN,1510.0,31.10,19.000,0.0,4.6,0.833,0.000,16.40,1.280,0.513
225966,14.0,4.0,NaN,1075.0,21.00,15.000,0.0,1.0,1.000,0.000,16.00,1.375,0.550
226284,24.0,4.0,NaN,2048.0,24.50,11.000,0.0,58.6,0.070,2.400,7.60,3.400,1.360
227005,4.0,2.0,NaN,707.0,5.00,0.714,0.0,22.9,14.300,0.000,7.86,0.889,0.356
227015,12.0,4.0,NaN,784.0,6.43,1.070,0.0,19.3,15.700,0.714,12.90,1.560,0.624

## It is better to drop the energy-kcal column because we have energy per 100 g column which is converted to the joule from the energy calorie column only, 1 calorie = 4.186 joule

In [925]:
df.drop('energy-kcal_100g', axis=1, inplace = True)

In [931]:
len(df)

208889

In [933]:
df.shape

(208889, 12)

In [937]:
df.sample(10)

,nutriscore,nova_group,energy_100g,fat_100g,saturated-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g
171413,14.0,4.0,797.0,11.904762,5.952381,0.000,11.904762,4.761905,2.380952,14.285714,0.0000,0.000
53452,9.0,3.0,1427.0,25.880000,9.410000,0.082,0.000000,0.000000,0.000000,22.350000,NaN,NaN
196364,9.0,3.0,1594.0,7.140000,1.190000,0.000,76.190000,33.330000,2.400000,4.760000,2.8575,1.143
47153,11.0,4.0,1046.0,3.570000,0.000000,0.000,46.430000,3.570000,0.000000,7.140000,1.9650,0.786
76042,22.0,4.0,1259.0,25.660000,9.730000,0.066,0.880000,0.880000,0.000000,15.930000,2.2800,0.912
137105,14.0,4.0,NaN,30.000000,3.330000,0.000,6.670000,3.330000,0.000000,3.330000,1.2500,0.500
78379,0.0,1.0,167.0,4.000000,0.500000,0.000,1.000000,0.000000,0.000000,0.000000,0.6000,0.240
176536,9.0,3.0,2092.0,25.000000,3.570000,0.000,67.860000,3.570000,7.100000,7.140000,1.2050,0.482
4386,11.0,4.0,1582.0,5.410000,1.350000,0.000,78.380000,35.140000,5.400000,8.110000,0.9450,0.378
111846,25.0,4.0,2230.0,36.670000,20.000000,0.017,50.000000,46.670000,3.300000,10.000000,0.4575,0.183

In [939]:
df.columns

Index(['nutriscore', 'nova_group', 'energy_100g', 'fat_100g',
       'saturated-fat_100g', 'cholesterol_100g', 'carbohydrates_100g',
       'sugars_100g', 'fiber_100g', 'proteins_100g', 'salt_100g',
       'sodium_100g'],
      dtype='object')

In [949]:
df['energy_100g'].fillna(df['energy_100g'].mean(), inplace=True)
df['fat_100g'].fillna(df['fat_100g'].mean(), inplace=True)
df['saturated-fat_100g'].fillna(df['saturated-fat_100g'].mean(), inplace=True)
df['cholesterol_100g'].fillna(df['cholesterol_100g'].mean(), inplace=True)
df['sugars_100g'].fillna(df['sugars_100g'].mean(), inplace=True)
df['fiber_100g'].fillna(df['fiber_100g'].mean(), inplace=True)
df['proteins_100g'].fillna(df['proteins_100g'].mean(), inplace=True)
df['salt_100g'].fillna(df['salt_100g'].mean(), inplace=True)
df['sodium_100g'].fillna(df['sodium_100g'].mean(), inplace=True)
df['carbohydrates_100g'].fillna(df['carbohydrates_100g'].mean(), inplace=True)

C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['energy_100g'].fillna(df['energy_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fat_100g'].fillna(df['fat_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['saturated-fat_100g'].fillna(df['saturated-fat_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cholesterol_100g'].fillna(df['cholesterol_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sugars_100g'].fillna(df['sugars_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fiber_100g'].fillna(df['fiber_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['proteins_100g'].fillna(df['proteins_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salt_100g'].fillna(df['salt_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sodium_100g'].fillna(df['sodium_100g'].mean(), inplace=True)
C:\Users\navee\AppData\Local\Temp\ipykernel_8624\180321569.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['carbohydrates_100g'].fillna(df['carbohydrates_100g'].mean(), inplace=True)

In [951]:
df.isnull().sum()

nutriscore            0
nova_group            0
energy_100g           0
fat_100g              0
saturated-fat_100g    0
cholesterol_100g      0
carbohydrates_100g    0
sugars_100g           0
fiber_100g            0
proteins_100g         0
salt_100g             0
sodium_100g           0
dtype: int64

In [953]:
df.dtypes

nutriscore            float64
nova_group            float64
energy_100g           float64
fat_100g              float64
saturated-fat_100g    float64
cholesterol_100g      float64
carbohydrates_100g    float64
sugars_100g           float64
fiber_100g            float64
proteins_100g         float64
salt_100g             float64
sodium_100g           float64
dtype: object

## Rename all the columns and remove per 100g from all the column names

In [955]:
df.columns = [col.replace('_100g', '') for col in df.columns]

In [957]:
df

,nutriscore,nova_group,energy,fat,saturated-fat,cholesterol,carbohydrates,sugars,fiber,proteins,salt,sodium
0,-5.0,1.0,238.0,0.2,0.100000,0.0,3.90,3.90,0.0,10.0,9.000000e-02,3.600000e-02
1,18.0,4.0,936.0,8.2,2.200000,0.0,29.00,22.00,0.0,5.1,4.600000e+00,1.840000e+00
2,9.0,3.0,264.0,0.0,0.000000,0.0,15.50,15.50,0.0,0.2,0.000000e+00,0.000000e+00
3,-4.0,1.0,134.0,0.3,0.100000,0.0,5.30,3.90,0.0,0.9,4.200000e-01,1.680000e-01
5,14.0,4.0,916.0,5.9,0.500000,0.0,30.30,1.70,2.8,9.7,4.640000e-01,1.856000e-01
...,...,...,...,...,...,...,...,...,...,...,...,...
227261,13.0,4.0,1197.0,0.0,4.508496,0.0,80.95,76.19,0.0,0.0,0.000000e+00,0.000000e+00
227262,14.0,4.0,1674.0,0.0,4.508496,0.0,100.00,100.00,0.0,0.0,3.864006e+08,1.545603e+08
227263,5.0,2.0,1197.0,0.0,4.508496,0.0,80.95,80.95,0.0,0.0,3.864006e+08,1.545603e+08
227264,5.0,2.0,1197.0,0.0,4.508496,0.0,80.95,80.95,0.0,0.0,3.864006e+08,1.545603e+08
227265,13.0,4.0,1197.0,0.0,0.000000,0.0,80.95,80.95,0.0,0.0,0.000000e+00,0.000000e+00

In [ ]:
## save the cleaned data

In [961]:
df.to_csv("C:/Users/navee/MTP/cleaned_nova_data.csv", index=False)

In [963]:
cf= pd.read_csv('cleaned_nova_data.csv')

In [967]:
cf.sample(3)

,nutriscore,nova_group,energy,fat,saturated-fat,cholesterol,carbohydrates,sugars,fiber,proteins,salt,sodium
49691,12.0,4.0,2243.0,32.14,5.36,0.00,60.71,3.57,3.6,7.14,1.0275,0.411
117729,13.0,4.0,1812.0,10.34,0.00,0.00,79.31,27.59,3.3,6.90,1.2925,0.517
204347,19.0,4.0,1561.0,25.33,16.00,0.02,34.67,28.00,2.7,2.67,0.2675,0.107

## Arrange all the columns alphabetically

In [973]:
cf = cf[sorted(cf.columns)]

In [981]:
cf.sample(3)

,carbohydrates,cholesterol,energy,fat,fiber,proteins,salt,saturated-fat,sodium,sugars,nova_group,nutriscore
25497,10.8,0.000,192.0,0.00,0.0,0.833,0.0000,0.00,0.00000,9.17,2.0,4.0
96720,0.0,0.000,3586.0,100.00,0.0,0.000,0.0000,14.29,0.00000,0.00,4.0,11.0
181173,0.0,0.095,1793.0,33.33,0.0,23.810,1.5119,19.05,0.60476,0.00,4.0,16.0

In [977]:
# Specify the columns you want at the end
end_columns = ['nova_group', 'nutriscore']

# Get all other columns and sort them
sorted_columns = sorted([col for col in df.columns if col not in end_columns])

# Combine sorted columns with the ones you want at the end
final_columns = sorted_columns + end_columns

# Reorder the DataFrame
cf = cf[final_columns]

In [985]:
cf.sample(2)

,carbohydrates,cholesterol,energy,fat,fiber,proteins,salt,saturated-fat,sodium,sugars,nova_group,nutriscore
4878,4.84,0.0242,269.0,4.03,0.0,1.61,1.4500,2.42,0.581,1.61,4.0,14.0
157286,13.89,0.0000,234.0,0.00,0.0,0.00,0.0375,0.00,0.015,13.89,4.0,18.0